body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
}
circle,
.circle-image,
.circle-text {
  cursor: pointer;
}
footer {
  font-size: 12px;
}
line {
  stroke: #ddd;
  stroke-width: 2px;
}
text {
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
}
.circle-image {
  -webkit-clip-path: ellipse(50% at 50% 50%);
  clip-path: ellipse(50% at 50% 50%);
}
.container {
  border: 1px solid #ddd;
  display: flex;
  flex-wrap: nowrap;
}
.content-container {
  flex-grow: 1;
  height: 90vh;
}
.highlight {
  stroke: blue;
  stroke-width: 5px;
}
.legend-ordinal {
  font-size: 12px;
  opacity: .25;
}
.search-non-match {
  fill: #ccc !important;
}
.sidebar {
  background-color: ivory;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.sidebar .controls {
  align-self: flex-end;
  font-size: 13px;
}
.sidebar .controls .group-by-container p {
  font-size: 20px;
}
.sidebar .controls .group-by-container {
  padding: 20px 20px 0 20px;
}
.sidebar .controls .search-input {
  width: 295px;
  font-size: 32px;
}
.sidebar .information {
  padding: 20px;
  visibility: hidden;
}
.sidebar .information .picture {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.sidebar .information .name {
  color: lightslategray;
  font-size: 26px;
  font-weight: bold;
}
.sidebar .information .job-title {
  font-size: 14px;
}
.sidebar .information .more-information {
  margin-top: 50px;
}
.sidebar .information .name,
.sidebar .information .job-title,
.sidebar .information .more-information p {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  white-space: nowrap;
}

/* Begin: Adapted from http://stackoverflow.com/a/25978286 */
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
}
/* End: Adapted from http://stackoverflow.com/a/25978286 */
