circle, text {
  cursor: pointer;
}
circle {
  stroke: #000;
  stroke-width: 2px;
  fill: #ddd;
}
footer {
  clear: both;
}
line {
  stroke: #ddd;
  stroke-width: 3px;
}
text {
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  text-align: center;
}
.highlight {
  /*
    .highlight should take precedence over .search-highlight
  */
  stroke: blue !important;
}
.highlight, .search-highlight {
  stroke-width: 5px;
}
.information {
  position: relative;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  float: left;
  padding: 10px;
  height: 706px;
  width: 300px;
}
.org-svg-container {
  border: 1px solid #ddd;
  float: left;
}
.search-container {
  position: absolute;
  bottom: 0;
  left: 0;
}
.search-highlight {
  stroke: red;
}
.search-input {
  width: 295px;
  font-size: 32px;
}
