circle, text {
  cursor: pointer;
}
circle {
  stroke: #000;
  stroke-width: 1px;
}
footer {
  clear: both;
}
line {
  stroke: #ddd;
  stroke-width: 2px;
}
text {
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
}
.group-by-container {
  position: absolute;
  bottom: 50px;
  left: 5px;
}
.highlight {
  stroke: blue;
  stroke-width: 5px;
}
.information {
  position: relative;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  float: left;
  padding: 10px;
  height: 706px;
  width: 300px;
}
.legend-ordinal {
  font-size: 12px;
  opacity: .25;
}
.org-svg-container {
  border: 1px solid #ddd;
  float: left;
}
.search-container {
  position: absolute;
  bottom: 0;
  left: 0;
}
.search-non-match {
  fill: #ccc !important;
}
.search-input {
  width: 295px;
  font-size: 32px;
}
