body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
circle,
.circle-image,
.circle-text {
  cursor: pointer;
}
footer {
  font-size: 12px;
}
line {
  stroke: #ddd;
  stroke-width: 2px;
}
text {
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
}
.circle-image {
  -webkit-clip-path: ellipse(50% at 50% 50%);
  clip-path: ellipse(50% at 50% 50%);
}
.container {
  display: flex;
  flex-wrap: nowrap;
}
.highlight {
  stroke: blue;
  stroke-width: 5px;
}
.legend-ordinal {
  font-size: 12px;
  opacity: .25;
}
.org-svg-container {
  border: 1px solid #ddd;
}
.search-non-match {
  fill: #ccc !important;
}
.sidebar {
  background-color: ivory;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.sidebar .controls {
  align-self: flex-end;
  font-size: 13px;
}
.sidebar .controls .group-by-container p {
  font-size: 20px;
}
.sidebar .controls .group-by-container {
  padding: 20px 20px 0 20px;
}
.sidebar .controls .search-input {
  width: 295px;
  font-size: 32px;
}
.sidebar .information {
  padding: 20px;
  visibility: hidden;
}
.sidebar .information .picture {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.sidebar .information .name {
  color: lightslategray;
  font-size: 28px;
  font-weight: bold;
}
.sidebar .information .job-title {
  font-size: 14px;
}
.sidebar .information .more-information {
  margin-top: 50px;
}
.sidebar .information .name,
.sidebar .information .job-title,
.sidebar .information .more-information p {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  white-space: nowrap;
}
