circle, text {
  cursor: pointer;
}
circle {
  stroke: #000;
  stroke-width: 2px;
  fill: #ddd;
}
text {
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  text-align: center;
}
line {
  stroke: #ddd;
  stroke-width: 3px;
}
.org-svg-container {
  border: 1px solid #ddd;
  float: left;
}
.information {
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  float: left;
  padding: 10px;
  height: 706px;
  width: 300px;
}
