// font setup
$font-base:   14px;
$font-large:  $font-base * 2;
$font-small:  $font-base - 2;
$font-stack:  Arial, Helvetica, sans-serif;

// other
$logo-height: 75px;
$opacity:     .25;

// colors
$sidebar:     aliceblue;
$name:        lightslategrey;
$link:        dodgerblue;

// greyscale
$grey-dark:   #333;
$grey-med:    #ddd;
$grey-lght:   #ccc;
$white:       white;

* {
  box-sizing: border-box;
}
body {
  font-family: $font-stack;
  font-size: $font-base;
  overflow-y: hidden;
}
a {
  border-bottom: 1px solid transparent;
  color: $link;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid $link;
  }
}
circle,
.circle-image,
.circle-text {
  cursor: pointer;
}
line {
  stroke: $grey-med;
  stroke-width: 2px;
}
.circle-image {
  -webkit-clip-path: ellipse(50% at 50% 50%);
  clip-path: ellipse(50% at 50% 50%);
}
.container {
  border: 1px solid $grey-med;
  display: flex;
  flex-wrap: nowrap;
}
.content-container {
  flex-grow: 1;
  height: 98vh;
  position: relative;
  .records {
    float: left;
    opacity: $opacity;
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 50000;
  }
}
.highlight {
  stroke: $link;
  stroke-width: 4px;
}
.legend-ordinal {
  opacity: $opacity;
}
.search-non-match {
  fill: $grey-lght !important;
}

.sidebar {
  background-color: $sidebar;
  border-left: 1px solid $grey-med;
  color: $grey-dark;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  .corporate-logo {
    height: $logo-height;
    margin: 20px;
    position: relative;
    width: 100%;
    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .controls {
    align-self: flex-end;
    .search-input {
      color: $grey-dark;
      width: 300px;
      font-size: $font-base * 1.5;
      padding: 10px;
    }
  }
  .information {
    padding: 20px;
    text-align: center;
    visibility: hidden;
    .picture {
      border-radius: 50%;
      display: flex;
      height: 75px;
      width: 75px;
      margin: auto;
    }
    .name {
      color: $name;
      font-size: $font-base * 2;
    }
    .job-title {
      font-size: $font-base - 2;
    }
    .more-information {
      background: lighten($sidebar, 20%);
      border-radius: 5px;
      line-height: 22px;
      list-style: none;
      list-style-position: inside;
      margin-top: 25px;
      padding: 10px;
    }
    .name,
    .job-title,
    .more-information p {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 250px;
      white-space: nowrap;
    }
  }
}

// radio toggles
.group-by-container {
  padding: 20px;
  overflow: hidden;
  input {
    display: none;
    &:checked + label {
      background-color: $link;
      border-color: $link;
      color: $white;
    }
  }
  label {
    float: left;
    background-color: lighten($sidebar,10%);
    border: 1px solid $grey-med;
    display: inline-block;
    font-weight: normal;
    padding: 6px 14px;
    text-align: center;
    width: 50%;
    &:hover {
      cursor: pointer;
    }
    &:first-of-type {
      border-right: none;
      border-radius: 4px 0 0 4px;
    }
    &:last-of-type {
      border-left: none;
      border-radius: 0 4px 4px 0;
    }
  }
}

/* Begin: Adapted from http://stackoverflow.com/a/25978286 */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
}
/* End: Adapted from http://stackoverflow.com/a/25978286 */
